{% block apis %}
    <script>
        function getAddress(lat, lon, callback) {
            // get address from coordinates
            // callback function foo(address) {} where address will be i.e. "Flemingovo náměstí 2710/1"
            $.get(
                "{% url 'apis:addressFromGps' %}",
                {'lat': lat, 'lon': lon},
                callback
            );
        }

        function getGPS(address, callback) {
            // get gps fromAddress
            $.get(
                "{% url 'apis:gpsFromAddress' %}",
                {'address': address},
                callback);
        }

        function inNaviterierDB(address, callback) {
            //check if address is Naviterier

            //returns "{
            // "street": true,                                  #if street exists in DB
            // "streetAndHouseNumber": true,                    #if street with this house number in DB
            // "streetAndLandRegistryNumber": false,            #if street with this landregistry number in DB
            // "input": {"street": "Lazarsk\u00e1", "number": "3"}  # requested data
            // }"
            $.get(
                "{% url 'naviterier:isAddressInDb' %}",
                {'address': address},
                callback
            );

            return false;
        }

        function getAddressFromTriple(stop, direction, line, callback) {
            getGpsFromTriple(stop, direction, line, function (data) {
                //var object = JSON.parse(data);
                getAddress(data.lat,data.lon, callback);
            })
        }

        function getGpsFromTriple(stop, direction, line, callback) {
            $.post(
                "{% url 'dpp:find' %}",
                {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    startStopName: stop,
                    startStopDirection: direction,
                    startLineNumber: line
                },
                callback
            )
        }
    </script>
{% endblock %}