<!DOCTYPE html>
<html lang="cz">

<!-- load static url -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vítejte{% endblock %} - Naviterier</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>


<!-- body -->
<body>

<!-- render body -->
{% block body %}{% endblock %}

</body>


</html>