{% extends 'chat/basetemplate.html' %}
{% load static %}


{% block title %}
    Klikátko
{% endblock %}


{% block body %}

    <script src="{% static "js/jquery.js" %}"></script>
    <!-- load serialize to JSON -->
    <script src="{% static "chat/jquery.serialize-object.min.js" %}"></script>

    <!-- interactive elements -->
    <form onsubmit="event.preventDefault(); getGpsCoords();">
        Adresa <input id="inputAddress" value="Lazarská 3"><br>
        radius <input id="inputRadius" value="50"> m <br>
        <input type="submit" value="Zobraz">
    </form>


    <div class="target-data">
    Zobrazím data pro tuto oblast:
        <div>lat: <span id="lat">0</span></div>
        <div>lon: <span id="lon">0</span></div>
        <div>radius: <span id="radius">0</span></div>
    </div>

    <canvas id="myCanvas" width="720" height="720"
            style="border:1px solid #c3c3c3;">
        Your browser does not support the canvas element.
    </canvas>

    <input type="button" value="clear" id="clr" size="23" onclick="erase()">

    <!-- get address and coords -->
    <script>
        var map_data;

        function getGpsCoords() {
            var address = document.getElementById("inputAddress").value;
            var radius = document.getElementById("inputRadius").value;
            var url = "{% url 'chat:google_geo' %}";

            var get_data = {
                address: address,
            };

            $.ajax({
                type: "GET",
                url: url,
                data: get_data,
                success: function (json) {
                    var object = JSON.parse(json);
                    gpsCoordinatesHandler(object.lat, object.lng);
                    var details = getMapDetails(object.lat, object.lng, radius);
                    clearCanvas(canvas);
                    drawMap(details);
                },
            });
        }

        function gpsCoordinatesHandler(lat, lon) {
            document.getElementById("lat").innerHTML = lat;
            document.getElementById("lon").innerHTML = lon;
            document.getElementById("radius").innerHTML = document.getElementById("inputRadius").value;
        }

        function getMapDetails(lat, lon, radius) {
            //todo get details
            $.get('https://crossorigin.me/http://147.32.81.71/NaviTerier.ProcessingService/json/reply/FindSourceData?Radius=' +
                        radius + '&SearchOrigin=%7bLatitude:' + lat + ',Longitude:' +
                        lon + '%7d', function (data, status) {
                        map_data = data;
                        drawMap(map_data);
                    });
        }

        function drawMap(details){
            draw(details);
        }

        function clearCanvas(canvas) {
            ctx.clearRect(-canvas.width / 2, -canvas.height / 2, canvas.width, canvas.height);
        }

    </script>

    <!-- collect data from clicking -->
    <script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {
        init();
    });

    var flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var penColor = "grey",
        thickness = 2;

    function init() {
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }

    function drawLine() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = penColor;
        ctx.lineWidth = thickness;
        ctx.stroke();
        ctx.closePath();
    }

    function erase() {
        var m = confirm("Want to clear");
        if (m) {
            clearCanvas(canvas)
        }
    }

    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft - canvasCenterX;
            currY = e.clientY - canvas.offsetTop - canvasCenterY;

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = penColor;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft - canvasCenterX;
                currY = e.clientY - canvas.offsetTop - canvasCenterY;
                drawLine();
            }
        }
    }
    </script>

    <!-- show naviterier data -->
    <script>
        var map_data;
        var canvas = document.getElementById('myCanvas');

        var ctx = canvas.getContext('2d');
        var canvasCenterX = canvas.width / 2;
        var canvasCenterY = canvas.height / 2;
        ctx.translate(canvasCenterX, canvasCenterY);

        function draw(data) {
            var segments = data.Segments;

            var dataMinX = 999999999999999;
            var dataMinY = 999999999999999;
            var dataMaxX = -99999999999999;
            var dataMaxY = -99999999999999;

            for (var i in segments) {
                var points = segments[i].Shape.Points;
                for (j in points) {
                    var x = getXfromCoordinate(points[j]);
                    var y = getYfromCoordinate(points[j]);
                    dataMinX = updatedMinimum(dataMinX, x);
                    dataMinY = updatedMinimum(dataMinY, y);
                    dataMaxX = updatedMaximum(dataMaxX, x);
                    dataMaxY = updatedMaximum(dataMaxY, y);
                }
            }

            dataSpanX = dataMaxX - dataMinX;
            dataSpanY = dataMaxY - dataMinY;
            dataCenterX = dataMinX + dataSpanX / 2;
            dataCenterY = dataMinY + dataSpanY / 2;

            //scale according to X dimension
            resizeCoefficient = canvas.width / dataSpanX;
            //if the Y dimension then won't fit into the Canvas, scale according to Y dimension
            if (dataSpanY * resizeCoefficient > canvas.height) {
                resizeCoefficient = canvas.height / dataSpanY;
            }

            for (i in segments) {
                var points = segments[i].Shape.Points;
                var formOfWay = segments[i].FormOfWay;
                var lastX = getXfromCoordinate(points[0]);
                var lastY = getYfromCoordinate(points[0]);

                drawPoint(lastX, lastY);
                if (points.length > 1) {
                    for (var j = 1; j < points.length; j++) {
                        var x = getXfromCoordinate(points[j]);
                        var y = getYfromCoordinate(points[j]);
                        drawPoint(x, y);
                        ctx.save();
                        if (formOfWay == "Sidewalk") {
                            ctx.strokeStyle="black";
                        } else if (formOfWay == "Crossway") {
                            ctx.setLineDash([5, 5]);
                            ctx.strokeStyle = "black";
                        } else {
                            ctx.strokeStyle = "grey";
                        }
                        drawLine(lastX, lastY, x, y);
                        ctx.restore();
                        lastX = x;
                        lastY = y;
                    }
                }
            }


            function dataToCanvasX(x) {
                return (x - dataCenterX) * resizeCoefficient;
            }

            function dataToCanvasY(y) {
                return (y - dataCenterY) * resizeCoefficient;
            }

            function getXfromCoordinate(coordinate) {
                return coordinate.Longitude;
            }

            //important to flip arround penColor axis
            //canvas 0 is left-top corner
            //coordinate 0 is left-bottom corner
            function getYfromCoordinate(coordinate) {
                return -coordinate.Latitude;
            }

            function canvasDrawPoint(x, y) {
                var radius = 6;
                ctx.beginPath();
                ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
                ctx.fillStyle = 'green';
                ctx.lineWidth = 1;
                ctx.fill();
                //document.writeln("point at " + penColor +", " + thickness + "<br>")

            }

            function canvasDrawLine(fromX, fromY, toX, toY) {
                ctx.beginPath();
                ctx.moveTo(fromX, fromY);
                ctx.lineTo(toX, toY);
                ctx.stroke();
            }

            function drawPoint(dataX, dataY) {
                canvasDrawPoint(dataToCanvasX(dataX), dataToCanvasY(dataY));
            }

            function drawLine(fromDataX, fromDataY, toDataX, toDataY) {
                canvasDrawLine(dataToCanvasX(fromDataX),
                    dataToCanvasY(fromDataY),
                    dataToCanvasX(toDataX),
                    dataToCanvasY(toDataY));
            }

            function updatedMinimum(min, actual) {
                if (min > actual) {
                    return actual;
                }
                return min;
            }

            function updatedMaximum(max, actual) {
                if (max < actual) {
                    return actual;
                }
                return max;
            }
        }

    </script>

{% endblock %}