{% extends 'chat/basetemplate.html' %}

{% block title %}
    Reverzní geocoding
{% endblock %}


{% block body %}


    <!-- UI -->
    <div id="ui-1">
        <form id="targetForm" method="get" action="" onsubmit="event.preventDefault(); search1.goSecond()">
            <div id="ui1_alert" role="alert" class="feedback"></div>
            <label id="inputLabel" for="InputTargetAddress">Kam jdeš?</label>
            <button type="button" id="voiceInputButton" onclick="voice1.processVoiceRecording()">Zadat hlasem</button>
            <input type="text" id="InputTargetAddress" name="TargetAddress" placeholder="např. Myslíkova 22"/>

            <input id="submitTargetAddress" type="submit" value="Dál">
        </form>
    </div>

    <!-- UI2 -->
    <div id="ui-2">
        <div id="accuracyLabel">aktuální přesnost:</div>
        <div id="accuracyText" aria-live="polite">sample accuracy text</div>
        <div id="ui2_alert" role="alert" class="feedback"></div>
        <button id="buttonStart" onclick="search1.startNavigation()">Spustit Navigaci</button>
        <button id="buttonBackToFirst" onclick="search1.goFirst()">Opravit</button>
    </div>


    <!-- scripts -->
    {% load static %}
    <script src="{% static "chat/voiceInput.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    {% include 'chat/apis_scripts.html' %}
    {% include 'chat/voicerecogintion_scripts.html' %}
    {% include 'chat/gps_scripts.html' %}


    <!-- on load-->
    <script>
        var search1 = null;
        var voice1 = null;
        jQuery(document).ready(function () {
            hideVoiceIfNotSupported("voiceInputButton");
            search1 = new Search("InputTargetAddress", "ui1_alert", "ui2_alert", "submitTargetAddress", "buttonBackToFirst",
                "buttonStart", "accuracyText", "ui-1", "ui-2", "inputLabel", "accuracyLabel");
            voice1 = new VoiceRecognition("voiceInputButton","InputTargetAddress", search1.goSecond);
        });
    </script>




    <script>
        function redirectToNavigation(sourceAddress, targetAddress, currentUrl) {
            var sourceEncoded = encodeURIComponent(sourceAddress).replace(/%20/g, '+');
            var targetEncoded = encodeURIComponent(targetAddress).replace(/%20/g, '+');
            var finalUrl = "{% url 'chat:navigateExample'%}?SourceAddress=" + sourceEncoded + "&TargetAddress=" + targetEncoded;
            if (currentUrl !== undefined) {
                var currentUrl = "{{ request.path }}"
                finalUrl += "&PreviousUrl=" + currentUrl
            }
            window.location.replace(finalUrl);
        }
    </script>

    <script>
        function Search(text_id, alert1_id, alert2_id, goSecond_id, goFirst_id, goStart_id, gpsStatus_id, firstPart_id,
                        secondPart_id, focuspoint1, focuspoint2) {

            var self = this;

            // define class properties
            this.$text = $('#' + text_id);   // the jQuery object pointer to the text box
            this.$gosecond = $('#' + goSecond_id); // the jQuery object pointer to the check guess button
            this.$gofirst = $('#' + goFirst_id); // the jQuery object pointer to the check guess button
            this.$alert1 = $('#' + alert1_id); // the jQuery object pointer to the alert area
            this.$alert2 = $('#' + alert2_id); // the jQuery object pointer to the alert area
            this.$firstPart = $('#' + firstPart_id); // the jQuery object pointer to the alert area
            this.$secondPart = $('#' + secondPart_id); // the jQuery object pointer to the alert area
            this.$start = $('#' + goStart_id); // the jQuery object pointer to the alert area
            this.$gpsStatus = $('#' + gpsStatus_id); // the jQuery object pointer to the alert area
            this.$focuspoint1 = $('#' + focuspoint2); // the jQuery object pointer to the alert area
            this.$focuspoint2 = $('#' + focuspoint1); // the jQuery object pointer to the alert area

            this.firstPart = true;

            this.prevAccuracy = 999;
            this.shownAccuracy = 999;
            this.coords = null;

            this.newSearch = function () {
                // set i am in the first part
                this.firstPart = true;
                this.drawGui();

            }

            this.drawGui = function () {
                if (this.firstPart) {
                    this.$firstPart.show();
                    this.$secondPart.hide();
                    this.$focuspoint1.focus();
                } else {
                    this.$firstPart.hide();
                    this.$secondPart.show();
                    this.$focuspoint2.focus();
                }
            }

            this.goSecond = function () {
                //validate
                console.log('launched go second');
                self.validate(function () {
                    self.firstPart = false;
                    self.drawGui();
                    var val = self.$text.val();
                    self.$start.html("Spustit navigaci na " + val);
                });
            }

            this.goFirst = function () {
                this.firstPart = true;
                this.drawGui();
            }

            this.handleInvalidAddress = function (message) {
                this.$text.attr('aria-invalid', 'true');
                this.$alert1.html(message);
                this.$alert1.show();
            }

            this.validate = function (success) {
                var val = this.$text.val();
                //check if empty
                if (val == '') {
                    this.handleInvalidAddress('Zapomněl jsi vyplnit kam to bude.');

                    return false;
                } else
                //check if in db
                    inNaviterierDB(val, function (inNaviterier) {
                        inNaviterier = JSON.parse(inNaviterier);
                        if (inNaviterier.streetAndHouseNumber) {
                            //cool
                        } else if (inNaviterier.streetAndLandRegistryNumber) {
                            //cool
                        } else {
                            // wrong number
                            if (inNaviterier.street) {
                                // just wrong number
                                self.handleInvalidAddress( 'Číslo ' + '\'' + inNaviterier.input.number + '\' není v naší databázi' +
                                    ' adres, zkus zadat adresu s jiným číslem');

                                return false;
                            } else {
                                // wrong street
                                self.handleInvalidAddress('Ulice ' + '\'' + inNaviterier.input.street + '\' není v naší databázi' +
                                    ' adres, zkontroluj jestli nemáš překlep, nebo zkus jinou ulici');

                                return false;
                            }
                        }

                        self.$text.attr('aria-invalid', 'false');
                        self.$alert1.html('');
                        self.$alert1.hide();

                        success();
                        return true;
                    });
            }

            this.startNavigation = function () {
                var targetAddress = this.$text.val();
                if (this.validateGps()) {
                    getAddress(coords.Latitude, coords.Longitude, function (sourceAddress) {
                        if (inNaviterierDB(sourceAddress)) {
                            redirectToNavigation(sourceAddress, targetAddress, "{{ request.url }}");
                        } else {
                            this.$alert2.html('Nejsi v oblasti pokryté naviterierem. Přesuň se víc do centra Prahy.')
                        }
                    }.bind(this));
                }
            }

            this.validateGps = function () {
                if (this.coords == null) {
                    this.$alert1.html('gps nevrací žádnou pozici');
                    return false;
                }
                return true;
            }

            this.showGpsStatus = function (newValue) {
                this.prevAccuracy = this.shownAccuracy;
                this.shownAccuracy = Math.round(newValue);
                // when accuracy changes for at least 10m
                if (Math.abs(this.prevAccuracy - this.shownAccuracy) >= 5) {
                    this.$gpsStatus.html("+-" + this.shownAccuracy + "m. ");
                }
            }

            this.updateGpsGeolocation = function (coords) {
                this.coords = coords;
                this.showGpsStatus(this.coords.Accuracy);
            }

            // initialize the new search
            this.newSearch();
            this.gps = new Gps(gpsStatus_id, this.updateGpsGeolocation.bind(this))
        }

    </script>
{% endblock %}