{% extends 'chat/basetemplate.html' %}

{% block title %}
    Reverzní geocoding
{% endblock %}


{% block body %}


    <!-- UI -->
    <div id="ui-1">
        <form id="targetForm" method="get" action="" onsubmit="event.preventDefault(); handleSubmit()">
            <label for="InputTargetAddress">Kam jdeš?</label> <input type="text" id="InputTargetAddress"
                                                                     name="TargetAddress"
                                                                     placeholder="např. Myslíkova 22"/>
            <button id="voiceInputButton" onclick="startDictation()">Zadat hlasem</button>
            <input type="submit" value="Dál">
        </form>
    </div>

    <!-- UI2 -->
    <div id="ui-2">
        <div id="accuracyLabel">aktuální přesnost:</div>
        <div id="accuracyText" aria-live="polite"></div>
        <button onclick="handleStartNavigation()">Spustit Navigaci</button>
        <button onclick="backToEnteringTarget()">Zpět</button>
    </div>


    <!-- variables -->
    <script>
        var coords = null;
        var int = 1;
        var enteringTarget = true;
        var shownAccuracy = 999;
        var prevShownAccuracy = 999;
    </script>


    <!-- scripts -->
    {% load static %}
    <script src="{% static "chat/voiceInput.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- on load-->
    <script>
        jQuery(document).ready(function () {
            hideVoiceIfNotSupported("voiceInputButton");
            startGps();
            drawButtons();
        });
    </script>

    <!-- HTML5 Speech Recognition API -->
    <script>
        function handleVoiceInput() {
            // todo fill in and read aloud
        }
        startDictation(handleVoiceInput);
    </script>

    <!-- navigation -->
    <script>
        function handleStartNavigation() {
            var targetAddress = document.getElementById("InputTargetAddress").value;
            getAddress(coords.Latitude, coords.Longitude, function (sourceAddress) {
                redirectToNavigation(sourceAddress, targetAddress, "{{ request.url }}");
            });
        }

        function handleSubmit() {
            enteringTarget = false;
            drawButtons();
        }

        function backToEnteringTarget() {
            enteringTarget = true;
            drawButtons();
        }
    </script>

    <!-- geolocalization -->
    <script>
        function startGps() {
            if ("geolocation" in navigator) {
                /* geolocation is available */
                displayMessageGeolocation("Spouštím GPS a určuji tvou přesnou pozici");
                var watchID = navigator.geolocation.watchPosition(geo_success, geo_error, geo_options);
            } else {
                /* geolocation IS NOT available */
                displayMessageGeolocation("Geolokace v prohlížeči nefunguje. Zkus ji zapnout a znovu načíst stránku!")
            }
        }

        function geo_error() {
            alert("Pardon, napodařilo se načíst pozici.");
        }

        var geo_options = {
            enableHighAccuracy: true,
            maximumAge: 30000,
            timeout: 27000
        };

        function geo_success(position) {
            coords = {
                Latitude: position.coords.latitude,
                Longitude: position.coords.longitude,
                Accuracy: position.coords.accuracy,
            };
            displayAccruacy();
        }


        function displayAccruacy() {

            prevShownAccuracy = shownAccuracy;
            shownAccuracy = Math.round(coords.Accuracy);
            if (coords != null) {
                // when accuracy changes for at least 10m
                if (Math.abs(prevShownAccuracy-shownAccuracy) >= 5){
                    displayMessageGeolocation("+-" + shownAccuracy + "m. ");
                }
            }
        }
    </script>

    <!-- show -->
    <script>
        function displayMessage(elementId, message) {
            document.getElementById(elementId).innerHTML = message;
        }

        function displayMessageGeolocation(message) {
            displayMessage("accuracyText", message);
        }

        function drawButtons() {
            if (enteringTarget) {
                $("#ui-1").show();
                $("#ui-2").hide();

            } else {
                $("#ui-1").hide();
                $("#ui-2").show();
            }
        }
    </script>


    <script>
        function getAddress(lat, lon, callback) {
            // get address from coordinates
            $.get(
                "{% url 'apis:addressFromGps' %}",
                {'lat': lat, 'lon': lon},
                callback
            );
        }

        function getGPS(address, callback) {
            // get gps fromAddress
            $.get(
                "{% url 'apis:gpsFromAddress' %}",
                {'address': address},
                callback);
        }

        function redirectToNavigation(sourceAddress, targetAddress, currentUrl) {
            var sourceEncoded = encodeURIComponent(sourceAddress).replace(/%20/g, '+');
            var targetEncoded = encodeURIComponent(targetAddress).replace(/%20/g, '+');
            var finalUrl = "{% url 'chat:navigateExample'%}?SourceAddress=" + sourceEncoded + "&TargetAddress=" + targetEncoded;
            if (currentUrl !== undefined) {
                var currentUrl = "{{ request.path }}"
                finalUrl += "&PreviousUrl=" + currentUrl
            }
            window.location.replace(finalUrl);
        }
    </script>
{% endblock %}