{% extends 'chat/basetemplate.html' %}

{% block title %}
    Alfa
{% endblock %}


{% block body %}


    <!-- UI -->
    <div id="ui-1">
        <form id="targetForm" method="get" action="" onsubmit="event.preventDefault(); search1.goSecond()">
            <div class="form-group">
                <div class="alert alert-danger" id="ui1_alert" role="alert" class="feedback"></div>
                <label id="inputLabel" for="InputTargetAddress">Kam jdeš?</label>
                <button type="button" id="voiceInputButton" onclick="voice1.processVoiceRecording()"
                        class="btn btn-default">Diktovat
                </button>
                <input type="text" id="InputTargetAddress" name="TargetAddress" placeholder="např. Myslíkova 22"
                       class="form-control"/>
            </div>
            <input id="submitTargetAddress" type="submit" value="Odeslat" class="btn btn-primary">
        </form>
    </div>

    <!-- UI2 -->
    <div id="ui-2">
        <div id="ui2_alert" class="alert alert-danger" role="alert" class="feedback"></div>
        <div id="ui2_alert2" class="alert alert-info" role="alert" class="feedback"></div>
        <div id="accuracyLabel">aktuální poloha:</div>
        <div id="accuracyText" aria-live="polite">sample accuracy text</div>
        <button id="buttonStart" onclick="search1.startNavigation()" class="btn btn-primary">Naviguj</button>
        <button id="buttonBackToFirst" onclick="search1.goFirst()" class="btn btn-default">Změnit cíl</button>
    </div>

{% endblock %}

{% block scripts %}

    <!-- scripts -->
    {% load static %}
    <script src="{% static "chat/voiceInput.js" %}"></script>
    {% include 'chat/apis_scripts.html' %}
    {% include 'chat/voicerecogintion_scripts.html' %}
    {% include 'chat/gps_scripts.html' %}


    <!-- on load-->
    <script>
        var search1 = null;
        var voice1 = null;
        jQuery(document).ready(function () {
            hideVoiceIfNotSupported("voiceInputButton");
            search1 = new Search("InputTargetAddress", "ui1_alert", "ui2_alert", "ui2_alert2", "submitTargetAddress", "buttonBackToFirst",
                "buttonStart", "accuracyText", "ui-1", "ui-2", "voiceInputButton");
            voice1 = new VoiceRecognition("voiceInputButton", "InputTargetAddress", search1.goSecond);
        });
    </script>




    <script>
        function redirectToNavigation(sourceAddress, targetAddress, currentUrl) {
            var sourceEncoded = encodeURIComponent(sourceAddress).replace(/%20/g, '+');
            var targetEncoded = encodeURIComponent(targetAddress).replace(/%20/g, '+');
            var finalUrl = "{% url 'chat:navigateExample'%}?SourceAddress=" + sourceEncoded + "&TargetAddress=" + targetEncoded;
            if (currentUrl !== undefined) {
                var currentUrl = "{{ request.path }}"
                finalUrl += "&PreviousUrl=" + currentUrl
            }
            window.location.replace(finalUrl);
        }
    </script>

    <script>
        function Search(text_id, alert1_id, alert2_id, alert2_2_id, goSecond_id, goFirst_id, goStart_id, gpsStatus_id, firstPart_id,
                        secondPart_id, focuspoint1) {

            var self = this;

            // define class properties
            this.$text = $('#' + text_id);   // the jQuery object pointer to the text box
            this.$gosecond = $('#' + goSecond_id);
            this.$gofirst = $('#' + goFirst_id);
            this.$alert1 = $('#' + alert1_id);
            this.$alert2 = $('#' + alert2_id);
            this.$alert3 = $('#' + alert2_2_id);
            this.$firstPart = $('#' + firstPart_id);
            this.$secondPart = $('#' + secondPart_id);
            this.$start = $('#' + goStart_id);
            this.$gpsStatus = $('#' + gpsStatus_id);
            this.$focuspoint1 = $('#' + focuspoint1);

            this.firstPart = true;

            this.prevAccuracy = 999;
            this.shownAccuracy = 999;
            this.coords = null;

            this.newSearch = function () {
                // set i am in the first part
                self.firstPart = true;
                self.$alert1.hide();
                self.$alert2.hide();
                self.$alert3.hide();
                self.drawGui();
                //self.$focuspoint1.focus();

            }

            this.drawGui = function () {
                if (this.firstPart) {
                    this.$firstPart.show();
                    this.$secondPart.hide();
                    //this.$focuspoint1.focus();
                } else {
                    this.$firstPart.hide();
                    this.$secondPart.show();
                    //this.$focuspoint2.focus();
                }
            }

            this.goSecond = function () {
                //validate
                console.log('launched go second');
                self.validateInputField(function () {
                    self.firstPart = false;
                    self.drawGui();
                    var val = self.$text.val();
                    self.$start.html("Naviguj na " + val);
                });
            }

            this.goFirst = function () {
                self.firstPart = true;
                self.drawGui();
                self.$focuspoint1.focus();
                self.$alert2.html('');
                self.$alert3.html('');
                self.$alert2.hide();
                self.$alert3.hide();

            }

            this.handleInvalidAddress = function (message) {
                self.$text.attr('aria-invalid', 'true');
                self.$alert1.html(message);
                self.$alert1.show();
            }

            this.validateInputField = function (success) {
                var val = self.$text.val();
                //check if empty
                if (val == '') {
                    self.handleInvalidAddress('Zapomněl jsi vyplnit kam jdeš.');

                    return false;
                } else
                //check if in db
                    inNaviterierDB(val, function (inNaviterier) {
                        if (inNaviterier.streetAndHouseNumber) {
                            //cool
                        } else if (inNaviterier.streetAndLandRegistryNumber) {
                            //cool
                        } else {
                            // wrong number
                            if (inNaviterier.street) {
                                // just wrong number
                                self.handleInvalidAddress('Číslo ' + '\'' + inNaviterier.input.number + '\' není v databázi' +
                                    ', zkus zadat ulici ' + '\'' + inNaviterier.input.street + '\' s jiným číslem.');

                                return false;
                            } else {
                                // wrong street
                                self.handleInvalidAddress('Ulice ' + '\'' + inNaviterier.input.street + '\' není v databázi' +
                                    ' adres, zkontroluj jestli nemáš překlep, nebo zkus jinou ulici.');

                                return false;
                            }
                        }

                        self.$text.attr('aria-invalid', 'false');
                        self.$alert1.html('');
                        self.$alert1.hide();

                        success();
                        return true;
                    });
            }

            this.startNavigation = function () {
                var targetAddress = self.$text.val();
                if (self.validateGps()) {
                    getAddress(coords.Latitude, coords.Longitude, function (sourceAddress) {
                        inNaviterierDB(sourceAddress, function (inNaviterierResponse) {
                            if (inNaviterierResponse.streetAndHouseNumber) {
                                //cool
                            } else if (inNaviterierResponse.streetAndLandRegistryNumber) {
                                //cool
                            } else {
                                // wrong number
                                if (inNaviterierResponse.street) {
                                    // just wrong number
                                    self.$alert2.html('Nejsi v oblasti pokryté naviterierem. Přesuň se víc do centra Prahy.');
                                    self.$alert2.show();
                                    self.$alert3.html('Aktuálně jsi na ' + '\'' + sourceAddress + ' \'');
                                    self.$alert3.show();
                                    return false;
                                } else {
                                    // wrong street
                                    self.$alert2.html('Nejsi v oblasti pokryté naviterierem. Přesuň se víc do centra Prahy.');
                                    self.$alert2.show();
                                    self.$alert3.html('Aktuálně jsi na ' + '\'' + sourceAddress + ' \'');
                                    self.$alert3.show();
                                    return false;
                                }
                            }

                            redirectToNavigation(sourceAddress, targetAddress, "{{ request.url }}");
                        });


                    })
                }
            }

            this.validateGps = function () {
                if (self.coords == null) {
                    self.$alert1.html('gps nevrací žádnou pozici');
                    return false;
                }
                return true;
            }

            this.showGpsStatus = function (newValue) {
                self.prevAccuracy = self.shownAccuracy;
                self.shownAccuracy = Math.round(newValue);
                // when accuracy changes for at least 10m
                if (Math.abs(self.prevAccuracy - self.shownAccuracy) >= 5) {
                    self.$gpsStatus.html("+-" + self.shownAccuracy + "m. ");
                }
            }

            this.updateGpsGeolocation = function (coords) {
                self.coords = coords;
                self.showGpsStatus(self.coords.Accuracy);
            }

            // initialize the new search
            this.newSearch();
            this.gps = new Gps(gpsStatus_id, this.updateGpsGeolocation.bind(this))

        }

    </script>
{% endblock %}