{% extends 'chat/basetemplate.html' %}

{% block title %}
    Gama
{% endblock %}


{% block body %}


    <!-- UI -->
    <div id="ui-1">
        <form id="targetForm" method="get" action="" onsubmit="event.preventDefault(); gpsCompas1.goSecond()">
            <div id="ui1_alert" role="alert" class="feedback alert alert-danger"></div>
            <div class="form-group">
                <label id="inputLabel" for="InputTargetAddress">Kam jdeš?</label>
                <button type="button" class="btn btn-default" id="voiceInputButton"
                        onclick="voice1.processVoiceRecording()">Diktuj
                </button>
                <input type="text" id="InputTargetAddress" class="form-control" name="TargetAddress"
                       placeholder="např. Myslíkova 22"/>
            </div>

            <input id="submitTargetAddress" class="btn btn-primary" type="submit" value="Dál">
        </form>
    </div>


    <div id="ui-2">
        <div id="targetConfirmation">cíl: ...</div>
        <div id="command">Načítám Gps...</div>
        <div id="ui2_alert" role="alert" class="feedback"></div>
        <div aria-live="polite">
            <span id="directions">

            </span><span id="percentage"></span>
        </div>

        <div class="form-group">
            <button id="iGo" class="btn btn-primary" onclick="gpsCompas1.goThird()">jdu doleva</button>
            {#            <button id="iGoRight" class="btn btn-primary" onclick="gpsCompas1.goThird()">jdu doprava</button>#}
        </div>
        <button id="backToFirst" class="btn btn-default" onclick="gpsCompas1.goFirst()">změnit cíl</button>
    </div>

    <div id="ui-3">
        <div id="ui3_alert" role="alert" class="feedback alert-warning"></div>
        <div id="goToCorner" aria-live="assertive">Jdi dál až na první roh, nebo křižovatku</div>
        <div><span>nasbíraných GPS pozic: </span><span id="goToCornerProgress" aria-live="polite"></span></div>
        <button id="iAmOnCorner" class="btn btn-primary" onclick="gpsCompas1.goFourth()">Jsem na rohu</button>
    </div>

    <div id="ui-4">
        <div id="ui4_alert" role="alert" class="feedback alert-warning"></div>
        <div id="goAfterCorner" aria-live="assertive">Zahni za roh a pokračuj cca 30 metrů</div>

        <div><span>nasbíraných GPS pozic: </span><span id="goAfterCornerProgress" aria-live="polite"></span></div>
        <button id="startNavigation" class="btn btn-primary" onclick="gpsCompas1.startNavigation()">Urči mou pozici &
            zahaj navigaci
        </button>
    </div>

{% endblock %}

{% block scripts %}


    <!-- scripts -->
    {% load static %}
    <script src="{% static "chat/voiceInput.js" %}"></script>
    <script src="{% static "chat/math.min.js" %}"></script>
    {% include 'chat/scripts_apis.html' %}
    {% include 'chat/scripts_voicerecogintion.html' %}
    {% include 'chat/scripts_gps.html' %}
    {% include 'chat/scripts_math.html' %}



    <!-- on load-->
    <script>
        var search1 = null;
        var gpsCompas1 = null;
        jQuery(document).ready(function () {
            hideVoiceIfNotSupported("voiceInputButton");
            gpsCompas1 = new GpsCompass("ui-1", "ui-2", "ui-3", "ui-4", "ui1_alert", "ui2_alert", "ui3_alert", "ui4_alert",
                "InputTargetAddress", "targetConfirmation",
                "command", "directions", "percentage", "goToCornerProgress", "goAfterCornerProgress", "iGo");
            voice1 = new VoiceRecognition("voiceInputButton", "InputTargetAddress", gpsCompas1.goSecond);
        });
    </script>





    <script>
        function GpsCompass(ui1_id, ui2_id, ui3_id, ui4_id, ui1_alert, ui2_alert, ui3_alert, ui4_alert,
                            ui1_address, ui2_addressConfirmation,
                            ui2_command, ui2_routeStarts, $ui2_routeStartsPercentage, ui3_progress, ui4_progress, ui2_buttonIGo) {
            var self = this;

            // define class properties
            this.$ui1 = $('#' + ui1_id);
            this.$ui2 = $('#' + ui2_id);
            this.$ui3 = $('#' + ui3_id);
            this.$ui4 = $('#' + ui4_id);
            this.$ui1_alert = $('#' + ui1_alert);
            this.$ui2_alert = $('#' + ui2_alert);
            this.$ui3_alert = $('#' + ui3_alert);
            this.$ui4_alert = $('#' + ui4_alert);
            this.$ui1_address = $('#' + ui1_address);
            this.$ui2_addressConfirmation = $('#' + ui2_addressConfirmation);
            this.$ui2_command = $('#' + ui2_command);
            this.$ui2_routeStarts = $('#' + ui2_routeStarts);
            this.$ui2_routeStartsPercentage = $('#' + $ui2_routeStartsPercentage);
            this.$ui3_progress = $('#' + ui3_progress);
            this.$ui4_progress = $('#' + ui4_progress);
            this.$ui2_buttonIGo = $('#' + ui2_buttonIGo);


            this.currentui = 1;
            this.targetAddress = "";
            this.targetLat = 0;
            this.targetLon = 0;
            this.targetAngle = 0;
            this.targetReady = false;

            this.userLat = 0;
            this.userLon = 0;
            this.userAngle = 0;
            this.userGpsReady = false;
            this.userCompassReady = false;
            this.lastLeftPercents = 0;
            this.initializeSecondScreen = true;

            this.nBeforeCornerColected = 0;
            this.nAfterCornerColected = 0;
            this.userPath = {
                beforeCorner: [],
                afterCorner: []
            }
            this.beforeCorner = true;
            this.logingEnabled = false;
            this.minimumLogedCoords = 3;

            this.drawGui = function () {
                //return true;
                switch (self.currentui) {
                    case 1:
                        self.$ui2.hide();
                        self.$ui3.hide();
                        self.$ui4.hide();
                        self.$ui1.show();
                        break;
                    case 2:
                        self.$ui1.hide();
                        self.$ui3.hide();
                        self.$ui4.hide();
                        self.$ui2.show();
                        break;
                    case 3:
                        self.$ui1.hide();
                        self.$ui2.hide();
                        self.$ui4.hide();
                        self.$ui3.show();
                        break;
                    case 4:
                        self.$ui1.hide();
                        self.$ui2.hide();
                        self.$ui3.hide();
                        self.$ui4.show();
                        break;
                    default:
                        alert('wrong state of ui ' + self.currentui);
                }
            }

            this.goFirst = function () {
                self.currentui = 1;
                self.drawGui();
                self.initializeSecondScreen = true;
            }

            this.goSecond = function () {
                //validate
                console.log('launched go second');
                self.validateFirst(function () {
                    self.currentui = 2;
                    self.drawGui();
                    var val = self.$ui1_address.val();
                    self.targetAddress = val;
                    self.$ui2_addressConfirmation.html("Pěšky do " + self.targetAddress);
                    self.$ui2_command.html("načítám pozici cíle...")
                    self.getTargetCoords(function () {
                        // target coords loaded
                        self.targetReady = true;
                        self.$ui2_command.html("cíl načten...")
                    })
                });
            }

            this.goThird = function () {
                console.log('launched go third');
                self.validateSecond(function () {
                    self.currentui = 3;
                    self.drawGui();
                    //activate recording before corner
                    self.logingEnabled = true;
                });
            }

            this.goFourth = function () {
                console.log('launched go fourth');
                self.validateThird(function () {
                    self.currentui = 4;
                    self.drawGui();
                    //activate recording after corner
                    //check there is enough before corner
                    self.beforeCorner = false;
                });
            }

            this.handleInvalidAddress = function (message) {
                this.$ui1_address.attr('aria-invalid', 'true');
                this.$ui1_alert.html(message);
                this.$ui1_alert.show();
            }

            this.handleValidAddress = function () {
                this.$ui1_address.attr('aria-invalid', 'false');
                this.$ui1_alert.html('');
                this.$ui1_alert.hide();
            }

            this.validateFirst = function (successFunction) {
                var val = this.$ui1_address.val();
                //check if empty
                if (val == '') {
                    this.handleInvalidAddress('Zapomněl jsi vyplnit kam jdeš.');

                    return false;
                } else
                //check if in db
                    inNaviterierDB(val, function (inNaviterier) {
                        if (inNaviterier.streetAndHouseNumber) {
                            //cool
                        } else if (inNaviterier.streetAndLandRegistryNumber) {
                            //cool
                        } else {
                            // wrong number
                            if (inNaviterier.street) {
                                // just wrong number
                                if (inNaviterier.input.number == 'nevyplněné') {
                                    // no number entered
                                    self.handleInvalidAddress('Nezadal jsi číslo popisné' +
                                        ', zkus zadat ulici ' + '\'' + inNaviterier.input.street + '\' s nějakým číslem.');
                                } else {
                                    // wrong number entered
                                    self.handleInvalidAddress('Číslo ' + '\'' + inNaviterier.input.number + '\' není v naší databázi' +
                                        ' adres, zkus zadat ' + '\'' + inNaviterier.input.street + '\' s jiným číslem');
                                }

                                return false;
                            } else {
                                // wrong street
                                self.handleInvalidAddress('Ulice ' + '\'' + inNaviterier.input.street + '\' není v naší databázi' +
                                    ' adres, zkontroluj jestli nemáš překlep, nebo zkus jinou ulici');

                                return false;
                            }
                        }

                        self.handleValidAddress();

                        successFunction();
                        return true;
                    });
            }

            this.validateSecond = function (successFunction) {
                if (!self.targetReady) {
                    self.$ui2_alert.html('Počkej chvíli než spočteme GPS souřadnice cíle');
                    self.$ui2_alert.show();
                    return false;
                } else if (!self.userGpsReady) {
                    self.$ui2_alert.html('Počkej chvíli než se ti aktivuje GPS');
                    self.$ui2_alert.show();
                    return false;
                }
                self.$ui2_alert.html('');
                self.$ui2_alert.hide();

                successFunction();
                return true;
            }

            this.validateThird = function (successFunction) {
                if (self.userPath.beforeCorner.length < self.minimumLogedCoords) {
                    self.$ui3_alert.html('Počkej chvíli než nasbíráme aspoň ' + self.minimumLogedCoords + ' záznamy tvé polohy');
                    self.$ui3_alert.show();
                    return false;
                }
                self.$ui3_alert.html('');
                self.$ui3_alert.hide();

                successFunction();
                return true;
            }

            this.validateFourth = function (successFunction) {
                if (self.userPath.afterCorner.length < self.minimumLogedCoords) {
                    self.$ui4_alert.html('Počkej chvíli než nasbíráme aspoň ' + self.minimumLogedCoords + ' záznamy tvé polohy');
                    self.$ui4_alert.show();
                    return false;
                }
                self.$ui4_alert.html('');
                self.$ui4_alert.hide();

                successFunction();
                return true;
            }

            this.getTargetCoords = function (callback) {
                var address = self.targetAddress;

                getGPS(address, function (coords) {
                    self.targetLat = coords.lat;
                    self.targetLon = coords.lon;
                    callback();
                })
            }

            this.startNavigation = function () {
                console.log('launched start navaigation');
                // validate enough points collected
                self.validateFourth(function () {
                    self.logingEnabled = false;
                    var targetAddress = self.$ui1_address.val();
                    //-----
                    {#                    getAddressOnSidewalk(50.076927, 14.419260, function (response2) {#}
                    {#                        redirectToNavigation(response2, targetAddress, "{{ request.url }}");#}
                    {#                    });#}

                    //------
                    gpsFromUserPath(self.userPath, function (response) {
                        var myPosition = response.userCoordinates;
                        getAddressOnSidewalk(myPosition.lat, myPosition.lon, function (sourceAddress) {
                            logExperiment(myPosition.lat, myPosition.lon, sourceAddress, targetAddress, {{ type }}, {}, function () {
                                redirectToNavigation(sourceAddress, targetAddress, "{{ request.url }}");
                            });
                        });
                    })

                })
            }

            this.processGpsSignal = function (coords) {
                self.userLat = coords.Latitude;
                self.userLon = coords.Longitude;
                self.userGpsReady = true;

                self.logGpsCoords();
            }

            this.processCompassInfo = function (tiltLR, tiltFB, dir) {
                self.userAngle = dir;
                self.userCompassReady = true;

                if (self.targetReady && self.userGpsReady) {
                    self.whereToGo();
                }
            }

            this.whereToGo = function () {
                var userCoords = {
                    'lat_y': self.userLat,
                    'lon_x': self.userLon,
                };

                var targetCoords = {
                    'lat_y': self.targetLat,
                    'lon_x': self.targetLon,
                };


                function getAngleTarget() {
                    var targetVector = [targetCoords.lon_x - userCoords.lon_x, targetCoords.lat_y - userCoords.lat_y];
                    // compute the angle from X axis
                    // atan2 needs the y as first parameter
                    var atan2value = Math.atan2(targetVector[1], targetVector[0]);
                    // transform to angle from y axis (north)
                    var angleFromNorth = atan2value - Math.PI / 2;
                    // transform to degrees <0, 360)
                    var fromNorthInDeg = (720 + Math.degrees(angleFromNorth)) % 360;
                    // convert to clockwise and angle 360° map to 0°
                    return (360 - fromNorthInDeg) % 360;

                    //todo HAPPY NEW YEAR!
                }

                var angleTarget = getAngleTarget();

                function getAngleUser() {
                    //compass angle, from north, clockwise
                    return self.userAngle;
                }

                var angleUser = getAngleUser();

                function getGoLeftRatio(target, user) {
                    // compute a ratio -- on a scale <0,1> say how much is going to left the correct direction.

                    //angle between two directions
                    var diff = user - target;

                    // convert the angle to the ratio
                    //
                    // transform sin(diff) to return outputs in range <0,1>
                    ratio = (Math.sin(Math.radians(diff)) + 1) / 2;

                    return ratio

                }

                var goLeftRatio = getGoLeftRatio(angleTarget, angleUser)
                var leftPercentage = Math.round(goLeftRatio * 100);
                //var rightPercentage = Math.round(100 - leftPercentage);

                self.$ui2_alert.html('');
                self.$ui2_alert.hide();
                //self.$ui2_command.html("stoupni si zády k budově");
                self.showDirection(leftPercentage);

            }

            this.showDirection = function (leftPercents) {
                var direction = "doleva";
                var basetext = "Stoupni si zády k budově a vydej se ";
                var text = basetext + direction;

                //initialize texts and buttons to default
                if (self.initializeSecondScreen) {
                    self.$ui2_command.html('');
                    self.$ui2_command.hide();

                    self.$ui2_routeStarts.html(text);
                    self.$ui2_buttonIGo.html('jdu ' + direction);
                    //self.$ui2_routeStartsPercentage.html('doleva');
                    self.initializeSecondScreen = false;
                }

                //update when compas changes more than 15 % since the last displayed value
                if (Math.abs(self.lastLeftPercents - leftPercents) > 15) {
                    if (leftPercents > 50) {
                        direction = "doleva";
                    } else {
                        direction = "doprava";
                    }
                    //self.$ui2_routeStartsPercentage.html(direction);
                    self.$ui2_routeStarts.html(basetext + direction);
                    self.$ui2_buttonIGo.html('jdu ' + direction);
                    self.lastLeftPercents = leftPercents;
                }

            }

            this.logGpsCoords = function () {
                function log(object) {
                    var coords = {
                        lat: self.userLat,
                        lon: self.userLon,
                    }
                    object.push(coords);
                }

                if (self.logingEnabled) {
                    if (self.beforeCorner) {
                        log(self.userPath.beforeCorner);
                        self.nBeforeCornerColected++;
                        self.redrawBeforeCorner();
                    } else {
                        log(self.userPath.afterCorner);
                        self.nAfterCornerColected++;
                        self.redrawAfterCorner();
                    }
                }
            }

            this.redrawBeforeCorner = function () {
                self.$ui3_progress.html(self.nBeforeCornerColected + '');
                if (self.nBeforeCornerColected > self.minimumLogedCoords - 1) {
                    self.$ui3_alert.html('');
                    self.$ui3_alert.hide();
                }
            }

            this.redrawAfterCorner = function () {
                self.$ui4_progress.html(self.nAfterCornerColected);
                if (self.nAfterCornerColected > self.minimumLogedCoords - 1) {
                    self.$ui4_alert.html('');
                    self.$ui4_alert.hide();
                }
            }


            this.gps = new Gps("ui2_command", this.processGpsSignal);
            this.compass = new Compass(ui2_alert, this.processCompassInfo);
            this.drawGui();
            this.$ui1_alert.hide();
            this.$ui2_alert.hide();
            this.$ui3_alert.hide();
            this.$ui4_alert.hide();


        }
    </script>
{% endblock %}