{% extends 'chat/basetemplate.html' %}
{% block title %}Rozcestník{% endblock %}
{% block body %}

    <body>
    <div class="text-center">
        <h1>Prototypy</h1>
       

        <div><a href="{% url 'chat:reversegc' %}">A - reverse geocoding</a></div>
        <div><a href="{% url 'chat:poi' %}">B - poi</a></div>
        <div><a href="{% url 'chat:gps' %}">C - gps and compass</a></div>

        <br>

        <h4>Nástroje</h4>

        <div><a href="{% url 'chat:showCompass' %}">show compass</a></div>
        <div><a href="{% url 'chat:clicker' %}">clicker</a></div>

        <br>

        <h4>Původní Naviterier</h4>


        <div><a href="{% url 'chat:navigate' %}">ukázka navigace</a></div>
        <div><a href="{% url 'chat:oldInterface' %}">naviguj</a></div>

        <br>

        <h4>DEV versions</h4>
        <div><a href="{% url 'chat:reversegcDev' %}">A - reverse geocoding</a></div>
        <div><a href="{% url 'chat:poiDev' %}">B - poi</a></div>
        <div><a href="{% url 'chat:gpsDev' %}">C - gps and compass</a></div>



    </div>

{% endblock %}