{% extends 'chat/basetemplate.html' %}
{% block title %}Rozcestník{% endblock %}
{% block body %}

    <body>
    <div class="text-center">
        <h2>Prototypy</h2>
       

        <div><a href="{% url 'chat:reversegc' %}">A - reverse geocoding</a></div>
        <div><a href="{% url 'chat:poi' %}">B - poi</a></div>
        <div><a href="{% url 'chat:gps' %}">C - gps and compass</a></div>

        <br>

        <h2>Nástroje</h2>

        <div><a href="{% url 'chat:showCompass' %}">show compass</a></div>
        <div><a href="{% url 'chat:clicker' %}">clicker</a></div>

        <br>

        <h2>Původní Naviterier</h2>


        <div><a href="{% url 'chat:navigateExample' %}">ukázka navigace</a></div>
        <div><a href="{% url 'chat:navigate' %}">naviguj</a></div>


    </div>

{% endblock %}