{% extends 'chat/basetemplate.html' %}
{% load static %}

{% block title %}
    Reverzní geocoding
{% endblock %}


{% block body %}


<!-- info for user -->
<section id="question" aria-live="polite">
    <div id="geolocationNotice"></div>
</section>

    <form>
        <label for="InputTargetAddress">Adresa cíle</label> <input type="text" id="InputTargetAddress" name="TargetAddress" placeholder="např. Myslíkova 22"/>
    </form>

<!-- interactive elements -->
<button onclick="getAddress()">Ukonči zpřesňování a urči chodník</button>



<script src="{% static "js/jquery.js" %}"></script>


<!-- GPS init -->
<script>
    var coords = null;
    var int = 0;
    // init gps
    jQuery(document).ready(function () {
        if ("geolocation" in navigator) {
            /* geolocation is available */
            showMessageGeolocation("Spouštím GPS a určuji tvou přesnou pozici");
            var watchID = navigator.geolocation.watchPosition(geo_success, geo_error, geo_options);
        } else {
            /* geolocation IS NOT available */
            showMessageGeolocation("geolocation not present in browser. Try to turn it on and refresh this page!")
        }
    });

    function geo_error() {
        alert("Sorry, no position available.");
    }

    var geo_options = {
        enableHighAccuracy: true,
        maximumAge: 30000,
        timeout: 27000
    };

    //localizate
    function geo_success(position) {
        coords = {
            Latitude: position.coords.latitude,
            Longitude: position.coords.longitude,
            Accuracy: position.coords.accuracy,
        };
        showProgress();
    }

    //todo anounce progress
    function showProgress() {
        //todo when accuracy drops down for at least 10m

        var shownAccuracy = Math.round(coords.Accuracy);
        if (coords != null) {
            showMessageGeolocation("aktuální přesnost +-" + shownAccuracy + "m. " + int++);
        }
    }
</script>

<!-- handlers -->
<script>
    function showMessage(elementId, message) {
        document.getElementById(elementId).innerHTML = message;
    }

    function showMessageGeolocation(message) {
        showMessage("geolocationNotice", message);
    }
</script>

<!-- determine position from GPS -->
<script>
    function getAddress(e) {
        //todo fix gps coordinates

        // get address from coordinates
        $.get(
            "{% url 'apis:addressFromGps' %}",
            {'lat': coords.Latitude, 'lon': coords.Longitude},
            function (data) {
                // todo get address
                alert('page content: ' + data);
                // todo log gps of address
                getGPS(data)
                sourceAddress = data;
                targetAddress = document.getElementById("InputTargetAddress").value;
                var sourceEncoded = encodeURIComponent(sourceAddress).replace(/%20/g,'+');
                var targetEncoded = encodeURIComponent(targetAddress).replace(/%20/g,'+');
                window.location.replace("{% url 'chat:navigate'%}?SourceAddress="+sourceEncoded+"&TargetAddress="+targetEncoded);


            });
    }

    function getGPS(address) {

        // get address from coordinates
        $.get(
            "{% url 'apis:gpsFromAddress' %}",
            {'address' : address},
            function (data) {
                alert('page content: ' + data);
            });
    }

</script>

<!-- On form submit -->
<script>
    function handleSubmit() {

        var url = "{% url 'chat:process_request' %}"; // the script where you handle the form input.

        var post_data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            question: document.getElementById("userReply").value,
        };

        alert('sending request');

        $.ajax({
            type: "POST",
            url: url,
            data: post_data,
            success: function (data) {
                alert(data); // show response from the php script.
            }
        });
    }
</script>
{% endblock %}