{% extends 'chat/basetemplate.html' %}
{% load static %}


{% block title %}
    GPS & kompas
{% endblock %}


{% block body %}

<!-- info for user -->
<!-- compass info -->
<div id="compassNotice"></div>

<div class="orientation-data">
		<div>Angle forward-back: <span id="tiltFB">0</span></div>
		<div>Angle left-right: <span id="tiltLR">0</span></div>
		<div>Direction: <span id="direction">0</span></div>
</div>

<!-- geolocation info -->
<br>
<br>
<div id="geolocationNotice"></div>

<div class="geolocation-data">
		<div>lat: <span id="lat">0</span></div>
		<div>lon: <span id="lon">0</span></div>
		<div>accuracy: <span id="accuracy">0</span> m </div>
</div>

<!-- interactive elements -->
<form onsubmit="event.preventDefault(); getGpsCoords();">
    <input id="inputTargetAddress" value="I.P. Pavlova">
    <input type="submit" value="Get GPS coords">
</form>


<div id="targetNotice"></div>

<div class="target-data">
		<div>lat: <span id="targetLat">0</span></div>
		<div>lon: <span id="targetLon">0</span></div>
</div>


<div id="progressNotice"></div>
    <button onclick="startLogingGps()">jdu do leva</button>
    <button onclick="startLogingGps()">jdu do prava</button>

    <div id="beforeCorner"></div>
    <button onclick="togleAfterCorner()">jsem na rohu</button>
    <div id="onCorner"></div>
    <div id="afterCorner"></div>
    <button onclick="whereAmI()">urči mou pozici</button>

{#    <button onclick="whereToGo()">Stojím zády k budově</button>#}

<script src="{% static "chat/math.min.js" %}"></script>
<script src="{% static "js/jquery.js" %}"></script>

    <script>
        Math.radians = function (degrees) {
            return degrees * Math.PI / 180;
        };

        // Converts from radians to degrees.
        Math.degrees = function (radians) {
            return radians * 180 / Math.PI;
        };

        function mod(n, m) {
        return ((n % m) + m) % m;
}
    </script>
<!--- Init -->
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        initCompass();
        initGPS();
    });
</script>

<!--- GPS init -->
<script>
    var userPath = {
        beforeCorner : [],
        afterCorner : []
    };
    var logingEnabled = false;
    var beforeCorner = true;

    function initGPS() {
        if( "geolocation" in  navigator) {
            showMessageGeolocation("Spouštím GPS a určuji tvou přesnou pozici");
            var watchID = navigator.geolocation.watchPosition(geo_success, geo_error, geo_options);
        } else {
            /* geolocation IS NOT available */
            showMessageGeolocation("geolocation not present in browser. Try to turn it on and refresh this page!")
        }
    }

    function geo_error() {
        showMessageGeolocation("Sorry, geolocation throws error, no position available.");
    }

    // geolocation params
    var geo_options = {
        enableHighAccuracy: true, //use GPS chip
        maximumAge: 30000,
        timeout: 27000
    };

    //localizate
    function geo_success(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        accuracy = position.coords.accuracy

        logGpsCoords(logingEnabled, lat, lon);
        geolocationHandler(lat, lon, accuracy);
    }

    function logGpsCoords(logingEnabled, lat, lon) {
        function log(lat, lon, object) {
            var coords = {
                lat: lat,
                lon: lon
            }
            object.push(coords);
        }

        if(logingEnabled) {
            if (beforeCorner) {

                log(lat, lon, userPath.beforeCorner);
            } else {

                log(lat, lon, userPath.afterCorner);
            }
        }
    }
</script>

<!--- compass init -->
<script>
    function initCompass() {
        if (window.DeviceOrientationEvent) {
            showMessageCompass("Cool! DeviceOrientationEvent API je podporován tímto přístrojem.");

            window.addEventListener('deviceorientation', function (eventData) {
                // gamma: Tilting the device from left to right. Tilting the device to the right will result in a positive value.
                var tiltLR = eventData.gamma;

                // beta: Tilting the device from the front to the back. Tilting the device to the front will result in a positive value.
                var tiltFB = eventData.beta;

                // alpha: The direction the compass of the device aims to in degrees.
                var dir = (360 - eventData.alpha) % 360;

                // Call the function to use the data on the page.
                deviceOrientationHandler(tiltLR, tiltFB, dir);

                whereToGo();
            }, false);
        } else {
            document.getElementById("compassNotice").innerHTML = "Špatné! DeviceOrientationEvent API není podporován tímto přístrojem."
        }
        ;
    }
</script>

<!-- handlers -->
<script>
    function showMessage(elementId, message) {
        document.getElementById(elementId).innerHTML = message;
    }

    function showMessageCompass(message) {
        showMessage("compassNotice",message);
    }
    function showMessageGeolocation(message) {
        showMessage("geolocationNotice", message);
    }
    function showMessageTarget(message) {
        showMessage("targetNotice",message);
    }
    function showMessageProgress(message) {
        showMessage("progressNotice",message);
    }
    function showMessageBeforeCorner(message){
        showMessage("beforeCorner",message);
    }
    function showMessageOnCorner(message){
        showMessage("onCorner",message);
    }
    function showMessageAfterCorner(message){
        showMessage("afterCorner",message);
    }


    function deviceOrientationHandler(tiltLR, tiltFB, dir) {
      document.getElementById("tiltLR").innerHTML = Math.ceil(tiltLR);
      document.getElementById("tiltFB").innerHTML = Math.ceil(tiltFB);
      document.getElementById("direction").innerHTML = Math.ceil(dir);
    }

    function geolocationHandler(lat, lon, accuracy) {
        document.getElementById("lat").innerHTML = lat;
        document.getElementById("lon").innerHTML = lon;
        document.getElementById("accuracy").innerHTML = accuracy;
    }

    function targetGpsHandler(lat, lon) {
        document.getElementById("targetLat").innerHTML = lat;
        document.getElementById("targetLon").innerHTML = lon;
    }
</script>


<!-- get address and coords -->
<script>
    function getGpsCoords() {
        var address = document.getElementById("inputTargetAddress").value;
        var url = "{% url 'chat:google_geo' %}";

        var get_data = {
            address: address,
        };

        showMessageTarget("Ptám se google API na coords");
        $.ajax({
            type: "GET",
            url: url,
            data: get_data,
            success: function (json) {
                object = JSON.parse(json);
                targetGpsHandler(object.lat,object.lng)
            },
        });
    }
</script>

<!-- say if left or right-->
<script>
    showMessageProgress("stoupni si zády k budově");

    function whereToGo() {
        var userCoords = {
            'lat_y': document.getElementById("lat").innerHTML,
            'lon_x': document.getElementById("lon").innerHTML,
        };

        var targetCoords = {
            'lat_y': document.getElementById("targetLat").innerHTML,
            'lon_x': document.getElementById("targetLon").innerHTML,
        };


        function getAngleTarget() {
            var targetVector = [targetCoords.lon_x - userCoords.lon_x, targetCoords.lat_y - userCoords.lat_y];
            var northVector = [1, 1];

            var cosAlpha = math.dot(targetVector, northVector) / ( math.norm(targetVector) * math.norm(northVector) );
            var atan2value = Math.atan2(targetVector[0], targetVector[1]);
            var alpha = ( 360 + (atan2value * 180 / Math.PI) ) % 360;
            return alpha;
        }

        var alpha = getAngleTarget();

        function getAngleUser() {
            var beta = document.getElementById("direction").innerHTML;
            return beta;
        }

        var beta = getAngleUser();

        function goLeftProbability(target, user) {
            var diff = user-target;

            probability = ( Math.sin(Math.radians(diff)) + 1 ) /2;

            return probability

        }

        var goLeftProbability = goLeftProbability(alpha, beta)
        var leftPercentage = Math.round(goLeftProbability*100);
        var rightPercentage = Math.round(100-leftPercentage);
        showMessageProgress( "go to Left "+ leftPercentage + "% or go right " + rightPercentage + "%" );

    }
</script>

    <!-- go to the corner -->
    <script>
        function startLogingGps(){
            //enable GPS loging
            beforeCorner = true;
            logingEnabled = true;

            // anounce to user
            showMessageBeforeCorner("Jdi dál až na první roh nebo křižovatku");
        }
    </script>

    <!-- on the corner-->
    <script>
        showMessageOnCorner("");
        function togleAfterCorner() {
            beforeCorner = false;
            showMessageOnCorner("pokračuj cca 50 metrů")
        }


    </script>

    <!-- after the corner -->
    <script>

    </script>

    <!-- -->
    <script>
        function whereAmI() {
            showMessageAfterCorner("získávám přesnou pozici");

            logingEnabled = false;
            //send GPS logLatLon
            var url = "{% url "gpsLocalization:locateMeAPI" %}";
            var post_data = {
                userPath: userPath,
                contentType: "application/json; charset=utf-8",
            }

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(post_data),
                success: function (json) {
                    var object = JSON.parse(json);
                    success_handler(object);
                },
            });

            function success_handler(object) {
                var myPosition = object.userCoordinates;
                var edges = object.segmentsTraveled;

                //tell user
                showMessageAfterCorner("víme tvou přesnou pozici");
            }
        }

    </script>

    <!-- -->
    <script>

    </script>

{% endblock %}