{% extends 'chat/protoFIN-navigate-basetemplate.html' %}
{% load static %}


    <!-- get itinerary api -->
{% block get_itinerary_script %}
    <script>
        var targetAddress = "{{ TargetAddress }}";
        var sourceAddress = "{{ SourceAddress }}";

        function getItinerary() {
            $.get(
            "{% url 'apis:getTracing' %}",
            {
                'TargetAddress':    targetAddress,
                'SourceAddress':    sourceAddress,
            },
            function (data) {
                itinerary = data;
                draw()
            });
        }

    </script>
{% endblock %}