{% extends 'chat/basetemplate.html' %}
{% load static %}

{% block title %}
    Naviguj
{% endblock %}


{% block body %}
    <div id="question" aria-live="polite">Načítám dialog...</div>
    <div id="divButtonStartJourney"><button id="buttonStartJourney" onclick="startJourney()">Jdu na to</button></div>
    <div id="divButtonNextPart"><button id="buttonNextPart" onclick="nextPart()">Další úsek</button></div>
    <div id="divButtonPreviousPart"><button id="buttonPreviousPart" onclick="previousPart()">Předchozí úsek</button></div>
    <div id="divButtonBackToSetup"><button id="buttonBackToSetup" onclick="backToSetup()">zpět</button></div>


    <script src="{% static "js/jquery.js" %}"></script>

    <script>
        var targetAddress = "{{ TargetAddress }}";
        var sourceAddress = "{{ SourceAddress }}";
        var previousUrl = "{{ PreviousUrl }}"

        var onTrack = false;
        var reachedTarget = false;
        var currentPart = 0;
        var itinerary = {}
    </script>

    <!-- get itinerary api -->
    <script>
        function getItinerary() {
            $.get(
            "{% url 'apis:getTracing' %}",
            {
                'TargetAddress':    targetAddress,
                'SourceAddress':    sourceAddress,
            },
            function (data) {
                itinerary = data;
                draw()
            });
        }

    </script>

    <!-- buttons events -->
    <script>
        function nextPart() {
            if (currentPart < itinerary['Stages'].length - 1 ) {
                currentPart++;
                if (currentPart == itinerary['Stages'].length - 1) {
                    reachedTarget = true;
                }
            } else {
                alert("you can't go further, you are already there");
            }

            draw();
        }

        function previousPart() {
            if (currentPart == 0) {
                // back to general description
                onTrack = false
            } else {
                // back to previous part of navigation
                currentPart--;
            }
            reachedTarget = false;

            draw();
        }

        function startJourney() {
            onTrack = true;
            draw();
        }

        function backToSetup() {
            window.location.replace(previousUrl);
        }
    </script>

    <!-- render logic -->
    <script>
        function draw() {
            var message;
            if (onTrack) {
                message = itinerary['Stages'][currentPart];
                $("#divButtonStartJourney").hide();
                $("#divButtonPreviousPart").show();
                if (reachedTarget){
                    $("#divButtonNextPart").hide();
                } else {
                    $("#divButtonNextPart").show();
                }
                $("#divButtonBackToSetup").hide();
            } else {
                message = itinerary['GeneralDescription'];
                $("#divButtonStartJourney").show();
                $("#divButtonNextPart").hide();
                $("#divButtonPreviousPart").hide();
                $("#divButtonBackToSetup").show();
            }

            if (previousUrl == ""){
                $("#divButtonBackToSetup").hide();
            }
            displayMessage(message)
        }

        function displayMessage(message) {
            document.getElementById("question").innerHTML = message;
        }

        function show(elementId) {
            $("#"+elementId).show();
        }

        function hide(elementId) {
            $("#item").hide();
        }
    </script>


<!-- init -->
<script>
    $(document).ready(function () {
        console.log("ready!");

        getItinerary()
    });
</script>

{% endblock %}