<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>Reverzní geocoding - Naviteriér</title>

    {% load static %}
</head>
<body>


<!-- info for user -->
<section id="question" aria-live="polite">
    <div>Spouštím GPS a určuji tvou přesnou pozici</div>
</section>

<!-- interactive elements -->
<button onclick="getAddress()">Ukonči zpřesňování a urči chodník</button>


<script src="{% static "js/jquery.js" %}"></script>

<!-- render methods -->
<script>
    function displayMessage(message) {
        document.getElementById("question").innerHTML = message;
    }
</script>

<!-- GPS init -->
<script>
    var coords = null;
    var int = 0;
    // init gps
    jQuery(document).ready(function () {
        if ("geolocation" in navigator) {
            /* geolocation is available */
            displayMessage("Spouštím GPS a určuji tvou přesnou pozici");
            var watchID = navigator.geolocation.watchPosition(geo_success, geo_error, geo_options);
        } else {
            /* geolocation IS NOT available */
            alert("geolocation not present in browser. Try to turn it on and refresh this page!")
        }
    });

    function geo_error() {
        alert("Sorry, no position available.");
    }

    var geo_options = {
        enableHighAccuracy: true,
        maximumAge: 30000,
        timeout: 27000
    };

    //localizate
    function geo_success(position) {
        coords = {
            Latitude: position.coords.latitude,
            Longitude: position.coords.longitude,
            Accuracy: position.coords.accuracy,
        };
        showProgress();
    }

    //todo anounce progress
    function showProgress() {
        //todo when accuracy drops down for at least 10m

        var shownAccuracy = Math.round(coords.Accuracy);
        if (coords != null) {
            displayMessage("aktuální přesnost +-" + shownAccuracy + "m. " + int++);
        }
    }
</script>

<!-- determine position from GPS -->
<script>
    function getAddress(e) {
        //todo fix gps coordinates

        // get address from coordinates
        $.get(
            "{% url 'chat:get_address' %}",
            {'lat': coords.Latitude, 'lon': coords.Longitude},
            function (data) {
                alert('page content: ' + data);
            });
    }

</script>

<script>
    {% comment %}
        var USER_PATH_COLOR = 'green';
        var MAP_COLOR = 'gray';
        var map_data;
        var canvas = document.getElementById('myCanvas');

        var ctx = canvas.getContext('2d');
        var canvasCenterX = canvas.width / 2;
        var canvasCenterY = canvas.height / 2;
        ctx.translate(canvasCenterX, canvasCenterY);


        var gpsPostionLog = new Array();

        var dataSpanX;
        var dataSpanY;
        var dataCenterX;
        var dataCenterY;
        var resizeCoefficient;

        var initialCoords;
        var RADIUS = 70;
        var mapSegments;

        var firstRun = true;

        jQuery(document).ready(function () {
            if ("geolocation" in navigator) {
                /* geolocation is available */
                //alert("ok");
                var watchID = navigator.geolocation.watchPosition(geo_success, geo_error, geo_options);
            } else {
                /* geolocation IS NOT available */
                alert("geolocation not present in browser. Try to turn it on and refresh this page!")
            }
        });

        function geo_success(position) {
            //writeGPScoordinates(position.Accuracy, position.coords.Latitude, position.coords.Longitude);

    //                var coords = {Latitude: 0, Longitude:0, Accuracy:0};
    //                coords.Latitude = 50.0776564;
    //                coords.Longitude = 14.4186242;
            var coords = {Latitude: position.coords.latitude, Longitude:position.coords.longitude, Accuracy: position.Accuracy};


            addToLog(coords);
            initGpsDrawing(coords);

            drawSituation(gpsPostionLog, mapSegments);
        }

        function geo_error() {
            alert("Sorry, no position available.");
        }

        var geo_options = {
            enableHighAccuracy: true,
            maximumAge        : 30000,
            timeout           : 27000
        };

        function initGpsDrawing(coords) {
            initialCoords = coords;

            //set center of canvas
            dataCenterX = getXFromCoords(coords);
            dataCenterY = getYFromCoords(coords);
            //set data range
            dataSpanX = 0.003;
            dataSpanY = 0.003;

            //scale according to X dimension
            resizeCoefficient = canvas.width / dataSpanX;
            //if the Y dimension then won't fit into the Canvas, scale according to Y dimension
            if (dataSpanY * resizeCoefficient > canvas.height) {
                resizeCoefficient = canvas.height / dataSpanY;
            }
        }

        function clearGps() {
            gpsPostionLog = new Array();
        }

        function getXFromCoords(coords) {
            return coords.Longitude;
        }

        function getYFromCoords(coords) {
            return -coords.Latitude;
        }

        function dataToCanvasX(x) {
            return (x - dataCenterX) * resizeCoefficient;
        }
        function dataToCanvasY(y) {
            return (y - dataCenterY) * resizeCoefficient;
        }

        function writeGPScoordinates(Accuracy, lat, lon) {
            document.writeln(Accuracy + "m - point at " + lat + ", " + lon + "<br>")
        }

        function addToLog(coords) {
            gpsPostionLog.push(coords);
        }

        function dataToCanvasX(x) {
            return (x - dataCenterX) * resizeCoefficient;
        }
        function dataToCanvasY(y) {
            return (y - dataCenterY) * resizeCoefficient;
        }

        function drawPoint(dataX, dataY, color) {
            canvasDrawPoint(dataToCanvasX(dataX), dataToCanvasY(dataY), color);
        }

        function drawLine(fromDataX, fromDataY, toDataX, toDataY, color) {
            canvasDrawLine(dataToCanvasX(fromDataX),
                    dataToCanvasY(fromDataY),
                    dataToCanvasX(toDataX),
                    dataToCanvasY(toDataY),
                    color);
        }

        function canvasDrawPoint(x, y, color) {
            var radius = 6;
            ctx.beginPath();
            ctx.arc(x, y, radius, 0, 2 * Math.PI, false);
            ctx.fillStyle = color;
            ctx.fill();
            //document.writeln("point at " + x +", " + y + "<br>")

        }

        function canvasDrawLine(fromX, fromY, toX, toY, color) {
            ctx.beginPath();
            ctx.moveTo(fromX, fromY);
            ctx.lineTo(toX, toY);
            ctx.strokeStyle = color;
            ctx.stroke();
        }

        function clearCanvas() {
            ctx.clearRect(-canvas.width / 2, -canvas.height / 2, canvas.width, canvas.height);
        }

        function drawPathToCanvas(gpsLog,color) {
            if (gpsLog.length > 0) {
                //draw first point
                var point = gpsLog[0];
                var lastX = getXFromCoords(point);
                var lastY = getYFromCoords(point);

                drawPoint(lastX, lastY, color);

                //draw line + next point
                for (var i = 1; i < gpsLog.length; i++) {
                    point = gpsLog[i];
                    var x = getXFromCoords(point);
                    var y = getYFromCoords(point);
                    drawPoint(x, y, color);
                    drawLine(lastX, lastY, x, y, color);
                    lastX = x;
                    lastY = y;
                }

            }
        }

        function drawSituation(gpsLog,mapSegments) {
            clearCanvas();
            drawPathToCanvas(gpsLog,USER_PATH_COLOR);
            drawMapData(mapSegments);
        }

        function getMapData(Coords, Radius) {
            $.get('https://crossorigin.me/http://147.32.81.71/NaviTerier.ProcessingService/json/reply/FindSourceData?Radius='+
                    Radius+'&SearchOrigin=%7bLatitude:'+Coords.Latitude+',Longitude:'+
                    Coords.Longitude+'%7d'
            ).done(function (data) {
                mapSegments = data.Segments;
                alert("Map successfully downloaded. It contains: " + mapSegments.length + " items.");
            }).fail(function () {
                alert("Failed to obtain Map data from NaviTerier");
            });
        }

        function drawMapData(segments) {
            for (i in segments) {
                var path = segments[i].Shape.Points;
                drawPathToCanvas(path,MAP_COLOR);
            }
        }

    {% endcomment %}

</script>

<!-- On form submit -->
<script>
    function handleSubmit() {

        var url = "{% url 'chat:process_request' %}"; // the script where you handle the form input.

        var post_data = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            question: document.getElementById("userReply").value,
        };

        alert('sending request');

        $.ajax({
            type: "POST",
            url: url,
            data: post_data,
            success: function (data) {
                alert(data); // show response from the php script.
            }
        });
    }
</script>
</body>
</html>