<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>With history</title>

    {% load static %}
</head>
<body>

{#<div id="active_box" class="chat.active" aria-live="polite">#}
{#    <div class="system-reply" id="question">Ahoj, jak se máš?</div>#}
{#</div>#}
<form id="reply_form" action="">
    <label id="label" for="reply_input_field" aria-label="Ahoj, jak se máš">zadej odpověď</label>
    <input id="reply_input_field">
</form>
<div id="history_box" class="chat.history">

</div>

<script src="{% static "js/jquery.js" %}"></script>
<script>

$("#reply_form").on('submit', function(ev){
    ev.preventDefault(); // to stop the form from submitting
    /* Validations go here */
    var userMsg = $('#reply_input_field').val();
    $("#reply_input_field").val("");
    var systemQuestion = $('#question').val();
    manageReply(userMsg, systemQuestion);
});


function manageReply(userMsg, systemQuestion) {
    var outputHistory = "#history_box";
    var outputActive = "#label";
    //add to history
    addMyReply(userMsg, outputHistory);
    //addSystemReply(systemQuestion, outputHistory);
    //todo send to server
    //todo get response from server
    //add to history
    setActiveQuestion("That's great. How are you?", outputActive);
}


function addMyReply(message, div) {
    $(div).prepend('<div class="user-reply">'+ message +'</div> ');
}


function addSystemReply(message, div) {
    $(div).prepend('<div class="system-reply">'+ message +'</div> ');
}


function setActiveQuestion(message, div) {
    //$(div).html('<div class="system-reply" id="question">'+ message +'</div> ');
    $(div).attr('aria-label', 'message');
}

</script>


</body>
</html>