<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>With history</title>

    {% load static %}
</head>
<body>
with history

<div class="chat-history">
    <div class="system-reply"></div>
    <div class="user-reply"></div>
</div>
<form id="post-reply" action="">
    <label for="reply">vaše odpověď</label>
    <input id="reply">
</form>

<script src="{% static "js/jquery.js" %}"></script>
<script>

$("#post-reply").on('submit', function(ev){
    ev.preventDefault(); // to stop the form from submitting
    /* Validations go here */
    var userMsg = $('#reply').val();
    manageReply(userMsg);
});


function manageReply(userMsg) {
    var output = ".chat-history";
    //add to history
    addMyReply(userMsg, output);
    //todo send to server
    //todo get response from server
    //add to history
    addSystemReply("That's great. How are you?", output);
}


function addMyReply(message, div) {
    $(div).append('<div class="user-reply">'+ message +'</div> ');
}


function addSystemReply(message, div) {
    $(div).append('<div class="system-reply">'+ message +'</div> ');
}

</script>


</body>
</html>